.control {
    display: block;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
  
    @mixin hover {
      color: var(--mantine-primary-color-6);
    }
  }

  .inner {
    height: rem(60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(76, 110, 245) 0%, rgb(21, 170, 191) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }